<p style="text-align: center;">
  <a href="{{site.baseurl}}/" style="color:$conifer; text-decoration:none;">Home</a> |
  <a href="{{site.baseurl}}/history/" style="color:$conifer; text-decoration:none;">History</a> |
  <a href="{{site.baseurl}}/ourdemands/" style="color:$conifer; text-decoration:none;">Our Demands</a> | 
  <a href="{{site.baseurl}}/studentsupport/" style="color:$conifer; text-decoration:none;">Student Support</a> | 
  <a href="{{site.baseurl}}/resources/" style="color:$conifer; text-decoration:none;">Resources</a> |
  <a href="{{site.baseurl}}/contact/" style="color:$conifer; text-decoration:none;">Contact Us</a> 
</p>
