---
---

@import "{{ site.theme }}";
$container-max-width: 1000px;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

header h1 {
  color: rgb(171, 132, 118);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  @include media-max-width($container-max-width) {
    margin-left: auto;
  }
}

header {
  border-bottom: 1px dashed rgb(104, 71, 86); //header;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(171, 132, 118);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

a {
  color: #conifer;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
