---
---

@import "{{ site.theme }}";

header h1 {
  color: #5dbcd2;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  @include media-max-width($container-max-width) {
    margin-left: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #5dbcd2;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
